<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">用戶列表</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">>
        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>名字 (Name)</th>
                    <th>信箱 (Email)</th>
                    <th style="text-align: left">手機 (Phone)</th>
                    <th>公司 (Company)</th>
                    <th>規則 (Role)</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/user.js"></script>
}