@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">訂單已完成!</h1>
        訂單編號: @Model <br/><br/>
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br>
        您的訂單已完成，歡迎繼續購物!
        </br>
    </div>
</div>